<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body ng-app>
    <input type="text" ng-model="query" />
    <select ng-model="order">
        <option value="username">Organiser par nom</option>
        <option value="content">Organiser par contenu</option>

    </select>
    <div ng-init="users=[
       {username:'Marc', content: 'Salut les gens'}, 
       {username:'Jean', content:'Je suis content'}, 
       {username:'John', content:'First'}
       ]">
        <div ng-repeat="user in users | filter:{content:query} | orderBy:order">
            <p>
                <strong>{{user.username}} </strong><br />
                {{user.content}}
            </p>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</body>

</html>